header {
    background: rgb(11, 46, 111);
    position: static;
    text-align: center;
    opacity: 60%;
    color: rgb(255, 255, 255);
   }


   .text-boas-vindas{
    animation: inicio 1s ;
   }

   .background{
    background-image: url(imagens/3409297.jpg);
    height: 100vh; /* Ajusta a altura para preencher a tela inteira */
    background-size: cover; /* Ajusta o tamanho da imagem de fundo para cobrir o container */
    background-position: center; /* Centraliza a imagem de fundo vertical e horizontalmente */
    background-repeat: no-repeat; /* Impede que a imagem de fundo se repita */
   }
   @keyframes inicio {

    50% {font-size: 16.1px;}

   }