*{
    margin: 0px;/* define a área de margem nos quatro lados do elemento */
    padding: 0px; /*  define uma a distância entre o conteúdo de um elemento e suas bordas. */
}

/* Corpo da pagina */
.background-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(imagens/4884273.jpg) no-repeat;
    background-size: cover;
    background-position: centerw;
}
.text-boas-vindas {
    width: 420px;
    background: transparent;
    border: solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
   }

   .background-main {
    display: flex;
    min-height: 100vh;
    background: url(imagens/3409297.jpg);
    background-size: cover;
    background-position: centerw;
   }
