* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}


body {
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,#621bd0,#4914a5,#310e7a,#180750,#000025 );/*Cria um degrade no fundo da pagina*/
}

.background-header {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    min-height: 100vh;
    /* Define a altura mínima como 100% da altura da viewport */
}

.text-boas-vindas {
    text-align: center;
    margin: 25vb;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    /* Define uma borda com transparência */
    backdrop-filter: blur(20px);
    /* Adiciona um efeito de desfoque ao fundo */
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    /* Adiciona uma sombra ao contêiner */
    border-radius: 15px;
    /* Adiciona bordas arredondadas */
    padding: 20px 40px;
    /* Adiciona preenchimento interno ao contêiner */
}

.text-boas-vindas .btn {
    width: 90%;
    height: 45px;
    background: #fff;
    /* Define o fundo do botão como branco */
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    /* Adiciona uma sombra ao botão */
    cursor: pointer;
    font-size: 16px;
    color: #333;
    /* Define a cor do texto como cinza */
    font-weight: 600;
    /* Define a espessura da fonte como negrito */
}

.section01{
    text-align: center;
}
.section01 .btn{
    width: 30vb; /*o elemento deve ocupar 50% da largura da janela de visualização.*/
    height: 25px;
    background: #fff;
    /* Define o fundo do botão como branco */
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    /* Adiciona uma sombra ao botão */
    cursor: pointer;
    font-size: 16px;
    color: #333;
    /* Define a cor do texto como cinza */
    font-weight: 600;
    /* Define a espessura da fonte como negrito */
    margin: 2vb; /*adiciona um espaçamento ao redor do botão*/
}
.section01 .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1vb;
}
.section01 .card{
    flex: 1;
    border: 2px solid;
    padding: 10px;
    box-sizing: border-box;
}

.section02{
    text-align: center;
}

.section02 .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1vb;
}

.section02 .card{
    flex: 1;
    border: 2px solid;
    padding: 10px;
    box-sizing: border-box;
}

.form-contato {
    text-align: center;
}

.footer{
    text-align: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}